<div style="background: rgb(0, 0, 0);">

    <section class="strips" style="display: block;">
        <div class="strips__strip">
            <a class="strip__content" routerLink="/yup">

                <div class="strip__text">
                    <h1 class="strip__title" data-name="Lorem">yTHEUS <br>Uniswap Pool</h1>

                </div>
            </a>
        </div>
        <div class="strips__strip">
            <a class="strip__content" routerLink="/tup">

                <div class="strip__text">
                    <h1 class="strip__title" data-name="Ipsum">THEUS <br>Uniswap Pool</h1>

                </div>
            </a>
        </div>
        <!-- <div class="strips__strip">
            <a class="strip__content" routerLink="/ybp">

                <div class="strip__text">
                    <h1 class="strip__title" data-name="Dolor">yTHEUS <br>Balancer Pool</h1>

                </div>
            </a>
        </div> -->

        <div class="strips__strip">
            <a class="strip__content" routerLink="/yfp">

                <div class="strip__text">
                    <h1 class="strip__title" data-name="Amet">yTHEUS <br>Fund Pool</h1>

                </div>
            </a>
        </div>
        <div class="strips__strip">
            <a class="strip__content" routerLink="/tfp">

                <div class="strip__text">
                    <h1 class="strip__title" data-name="Sit">THEUS <br>Fund Pool</h1>

                </div>
            </a>
        </div>
    </section>
    <!-- <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020
                THEUS YIELD PROTOCOL | All rights reserved.</span>

        </div>
    </footer> -->
</div>